replicaCount: 1

image:
  repository: sergeyarenzon/huddlehub-auth
  tag: latest
  pullPolicy: IfNotPresent

# Add init container to wait for Redis
initContainers:
  - name: wait-for-redis
    image: busybox:1.35
    command: ['sh', '-c', 'until nc -z redis 6379; do echo waiting for redis; sleep 2; done; echo "Redis is ready!";']

service:
  type: ClusterIP
  port: 3000

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 150Mi

# autoscaling:
#   enabled: false
#   minReplicas: 1
#   maxReplicas: 3
#   targetCPUUtilizationPercentage: 80

env:
  NODE_ENV: production
  JWT_MAX_AGE: 3600000
  # 15 minutes in milliseconds: 15 * 60 * 1000 = 900000
  JWT_ACCESS_EXPIRES_IN_MS: 900000
  # 7 days in milliseconds: 7 * 24 * 60 * 60 * 1000 = 604800000
  JWT_REFRESH_EXPIRES_IN_MS: 604800000
  # Redis credentials will be loaded from global secrets
  # Add other environment variables as needed

# configMaps:
#   rabbitmq:
#     name: rabbitmq-config

postgresql:
  enabled: true
  auth:
    username: postgres
    password: postgres
    database: auth_db
  persistence:
    size: 8Gi


secrets:
  global:
    name: global-secrets
    keys:
      jwt-secret: jwt-secret
      redis-password: redis-password

configMaps:
  global:
    name: global-config
    keys:
      redis-host: redis-host
      redis-port: redis-port
      redis-db: redis-db 