apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-config
data:
  GOOGLE_REDIRECT_URI: {{ .Values.env.GOOGLE_REDIRECT_URI | quote }}
  CLIENT_URL: {{ .Values.env.CLIENT_URL | quote }}
  BETTER_AUTH_URL: {{ .Values.env.BETTER_AUTH_URL | quote }}