apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "booking.fullname" . }}
  labels:
    app: {{ include "booking.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "booking.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "booking.fullname" . }}
    spec:
      initContainers:
        - name: wait-for-booking-db
          image: busybox
          command: ["/bin/sh", "-c", "until nc -z -v -w30 {{ .Values.database.host }} {{ .Values.database.port }}; do echo 'Waiting for PostgreSQL...'; sleep 5; done"]
        - name: wait-for-rabbitmq
          image: busybox
          command: ["/bin/sh", "-c", "until nc -z -v -w30 rabbitmq 5672; do echo 'Waiting for RabbitMQ...'; sleep 5; done"]
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: DATABASE_URL
              value: "{{ .Values.database.url }}"
            {{- range .Values.env }}
            - name: {{ .name }}
              valueFrom:
                secretKeyRef:
                  name: {{ .valueFrom.secretKeyRef.name }}
                  key: {{ .valueFrom.secretKeyRef.key }}
            {{- end }}
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: RABBITMQ_URL
            - name: NOTIFICATION_QUEUE
              valueFrom:
                configMapKeyRef:
                  name: global-config
                  key: rabbitmq-notification-queue
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: {{ .Values.healthCheck.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.healthCheck.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.healthCheck.liveness.timeoutSeconds }}
            failureThreshold: {{ .Values.healthCheck.liveness.failureThreshold }}
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: {{ .Values.healthCheck.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.healthCheck.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.healthCheck.readiness.timeoutSeconds }}
            failureThreshold: {{ .Values.healthCheck.readiness.failureThreshold }}
          resources:
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}