apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      initContainers:
        - name: wait-for-profile-db
          image: busybox
          env:
            - name: PROFILE_DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ index .Values.configMaps "profile-db" "name" | quote }}
                  key: POSTGRES_PORT
          command: ["/bin/sh", "-c", "until nc -z -v -w30 profile-db $PROFILE_DB_PORT; do echo 'Waiting for PostgreSQL...'; sleep 5; done"]
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: profile
              containerPort: {{ .Values.service.port }}
          env:
            - name: PORT
              value: {{ .Values.service.port | quote }}
            - name: PROFILE_DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ index .Values.configMaps "profile-db" "name" | quote }}
                  key: POSTGRES_HOST
            - name: BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: global-config
                  key: base-url
            - name: SERVICE_TO_SERVICE_TOKEN
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: SERVICE_TO_SERVICE_TOKEN
            {{- range .Values.env }}
            - name: {{ .name }}
              valueFrom:
                secretKeyRef:
                  name: {{ .valueFrom.secretKeyRef.name }}
                  key: {{ .valueFrom.secretKeyRef.key }}
            {{- end }}
          resources:
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
          readinessProbe:
            httpGet:
              path: /health
              port: {{ .Values.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.service.port }}
            initialDelaySeconds: 15
            periodSeconds: 20 